footer ul {
  padding-left: unset;
}
footer li {
  list-style: none;
  margin-bottom: 10px;
}
footer a {
  text-decoration: none;
  white-space: nowrap;
}
footer p {
  margin-bottom: unset;
}
footer .mw-350 {
  max-width: 350px;
}
footer .contact {
  background-color: #007adc;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
footer .contact p {
  white-space: nowrap;
}
footer .section-padding {
  padding-bottom: unset !important;
}
footer span {
  color: #3b82f6;
}
footer .social-media a {
  margin-left: 20px;
}
